
        BL_weighting.py
        RH_crit.py
        SkewT.py
        along_wind_mean_plots.py
        along_wind_mean_plots_new.py
        analysis.py
        awm_streamline.py
        cheap_conv_lwp.py
        cld_composite.py
        cld_composite_adaptation.py
        cloud_frequency_res.py
        cloud_mask.py
        coarse_expectations.py
        coarse_graining.py
        cold_pools.py
        compare_BL_schemes.py
        compare_U10_1km.py
        compare_U10_U05_properties.py
        comparing_resolutions_with_coarsegridding.py
        compute_equlibrium_forcing.py
        create_and_plot_stronger_inversion_ic.py
        create_balanced_initial_conditions.py
        create_cloud_animation.py
        create_cloud_animation_res_comparison.py
        create_coarse_landmasks.py
        create_precip_animation.py
        create_thetae_animation.py
        create_w_animation.py
        create_windspeed_txt.py
        ctz_histograms.py
        experiment_comparison.py
        four-panel.py
        idealised_budgets.py
        inc_regions.py
        initial_conditions_change_100-800m.py
        lagrangian-job.pbs
        lagrangian_tracking.py
        mass_flux_integrated_comparison.py
        plot3D.py
        plot_3D_warmplume.py
        plot_CH5_FIG02.py
        plot_CH5_FIG03.py
        plot_CH5_FIG04.py
        plot_CH5_FIG05.py
        plot_CH5_FIG06.py
        plot_CH5_FIG07.py
        plot_CH5_FIG08.py
        plot_CH5_FIG09.py
        plot_CH5_FIG10.py
        plot_CH5_FIG11.py
        plot_CH5_FIG12.py
        plot_CH5_FIG13.py
        plot_CH5_FIG14.py
        plot_CH6_FIG10_11_12.py
        plot_CH6_FIG13.py
        plot_acrossFlowDX.py
        plot_all_cloud_frequencies_dxexp.py
        plot_all_cloud_frequencies_heatfluxexp.py
        plot_cld_composite.py
        plot_cloudBandExamplesDX.py
        plot_cloudStatistics.py
        plot_cloud_top_height_distributions.py
        plot_cloud_void.py
        plot_cloud_void_analysis.py
        plot_cloud_void_comparison.py
        plot_coldpoolphasespeed.py
        plot_drift_timeseries.py
        plot_init_RH_profiles.py
        plot_parameterisation_analysis.py
        plot_parameterisation_summary.py
        plot_precipitationDX.py
        plot_precipitation_comparison.py
        plot_precipitation_comparison_DX.py
        plot_reference_ic.py
        plot_spinup_ic_skewts.py
        plot_spinup_timeseries.py
        plot_surfaceWarmPlumeDX.py
        plot_test_skewts.py
        plot_warmplume_coldpool_experiment.py
        plot_windshear.py
        process_1.py
        regrid_mcl_along_flow.py
        regrid_n_along_flow.py
        regrid_rho_along_flow.py
        regrid_theta_along_flow.py
        regrid_w_along_flow.py
        sounding_regions.py
        thermodynamics.py
        theta_w_analysis.py
        utils.py

